* {
    margin: 0;
    padding: 0;
    font-family: imapact;


} 
body{
    height: 100%;
    height: fit-content;
}

.c1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: -40px 0 0;
    width: 25% 25%;
    height: 50px;
    background-color: #1f1238;
    height: 60px;
}

.c2 ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.c2 ul li {
    padding: 0 30px;
    list-style: none;


}

.c2 ul li a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: white;
    transition: all 0.1s ease;

}
.c2 ul li a:hover {

    color: aliceblue;
    font-size: 21px;
}
.banner{
    display: flex;
     background-color:  #100b1a;
     background-origin: border-box;
     
}
.left-column{
    width: 100%;
    height: 71.6vh;
    
}


.left-column{
 display: block;
 padding-left: 130px;
 margin-top: 200px;
 padding-right: -80px;

 
}
.left-column li{
    padding: 30px 0;
    list-style: none;
}
.left-column img{
    margin: 0 40px;
    width: 470px;
    height: 150px;
}
.left-column .btn{
    margin-left: 14%;
    width: 180px;
    height: 35px;
    color: aliceblue;
    background-color: orangered;
    font-size: 23px;
    transition: all 0.1s ease;
    border-radius: 10px;
    
}
.left-column p{
    font-size: 20px;
    font-weight: 300;
    color: aliceblue;
    text-transform: capitalize;
}
.left-column .btn:hover{
    color: aliceblue;
    font-size: 26px;
}
.sociallinks{
    margin-left: 75px;
    box-sizing: border-box;
    border: 3px solid #100b1a;   
    border-radius: 15px;
    margin-top: 300px;
}


.sociallinks ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
}
.sociallinks ul li a{
   
    text-align: center;
    width: 80%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    transition: all 0.1s ease;
}
.sociallinks ul li a:hover{
    color: blue;
    font-size: 43px;
}
.banner .left-column .image{
    width: 300px;
    height: 300px;
    float: right;
    margin-bottom: 50px;
}


    
@media screen and (max-width:800px) {
   .c1 {
        width: 100%;      
}
    .body{
        width: 100%;
    }
  .right-column{
    width: 19%;
  }
  .left-column{
    width: 9%;
  }
  .left-column img{
    width: 10%;
  }
  .right-column .sociallinks ul {
    width: 31%;
    
  }

  }
  
    
